body {
  font-family: Arial;
  overflow-x: hidden;
}

textarea {
  width: 100%;
}

.button {
  border-radius: 8px;
  border: 1px solid grey;
  padding: 4px;
  width: max-content;
  transition: background-color 0.1s;
}

.button:hover {
  background-color: lightgrey;
}

#tabs {
  display: flex;
  gap: 16px;
  padding-bottom: 8px;
  border-bottom: solid 1px #000;
}

#tabs > * {
  cursor: pointer;
}

.selectedTab {
  font-weight: bold;
}

#pages {
  padding-top: 8px;
}

#pageStackTrace {
  display: flex;
  flex-direction: column;
}

.horizontalScrollWrapper {
  overflow-x: auto;
}

#stackTraceOptions {
  display: flex;
  gap: 48px;
  padding-bottom: 12px;
  width: max-content;
}

#stackTraceInput {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding-bottom: 12px;
}

#stackTraceInputToggle,
.stackTraceOutputSectionToggle {
  transition: transform 0.1s;
  cursor: pointer;
  width: min-content;
  height: min-content;
  user-select: none;
}

#stackTraceTextField {
  transition: max-height 0.1s;
}

#stackTraceCopyDiv {
  display: none;
  align-items: center;
  gap: 8px;
  padding-bottom: 6px;
}

#stackTraceCopyButton {
  cursor: pointer;
}

#stackTraceCopied {
  opacity: 0;
}

.stackTraceOutputSection {
  display: flex;
  border-radius: 4px;
}

.stackTraceOutputSectionCollapsed {
  padding: 0px;
}

.stackTraceOutputSectionPriority0 {
  background-color: beige;
}

.stackTraceOutputSectionPriority1 {
  background-color: lightblue;
}

.stackTraceOutputSectionPriority2 {
  background-color: lightgrey;
}

.stackTraceOutputSectionToggle {
  transform: rotate(0deg);
}

.stackTraceOutputSectionCollapsed > .stackTraceOutputSectionToggle {
  transform: rotate(-90deg);
}

.stackTraceOutputSectionText {
  overflow: hidden;
  max-height: 1000px;
  padding: 8px 0;
  transition: max-height 0.2s, opacity 0.2s, padding 0.4s;
}

.stackTraceOutputSectionPriority2 > .stackTraceOutputSectionText {
  background-color: lightgrey;
  padding-left: 16px;
}

.stackTraceOutputSectionCollapsed > .stackTraceOutputSectionText {
  max-height: 0px;
  opacity: 0;
}

.stackTraceOutputSectionLine {
  text-indent: -32px;
  padding: 0 32px;
}

.stackTraceOutputTextSpan {
  word-break: break-all;
}

.stackTraceOutputGeneratedSqlText {
  padding: 0px 4px;
  border-radius: 6px;
  background-color: burlywood;
}

#pageRadixTree {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#radixTreeSelectedNodeInfo {
  height: 80px;
  overflow-y: auto;
}

#radixTreeOutput {
  display: flex;
  overflow: auto;
}

.radixTreeNodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radixTreeEdge {
  width: 0px;
  height: 40px;
  border-left: 2px solid;
}

.radixTreeEdgeText {
  cursor: default;
  border-radius: 4px;
  width: min-content;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0);
  color: black;
  transition: background-color 0.2s, max-width 0.2s, padding 0.2s, color 0.2s;
}

.radixTreeEdgeText:hover {
  padding: 6px;
  z-index: 10;
  background: rgba(0, 0, 0, 1);
  color: white;
}

.radixTreeNode {
  cursor: pointer;
  border: 2px solid;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s;
}

.radixTreeNode:hover {
  background-color: lightblue;
}

.radixTreeNodeWithSubscriptions {
  background-color: beige;
}

.radixTreeNodeWithSubscriptions:hover {
  background-color: orange;
}

.radixTreeBottomEdge {
  width: 0px;
  height: 5px;
  border-left: 2px solid;
}

.radixTreeBottomLine {
  border-bottom: 2px solid;
}

.radixTreeNodeChildren {
  display: flex;
  gap: 24px;
}
